body {
    font-family: Arial, sans-serif;
    margin: auto;
    padding: 0;
    min-height: 100vh;
    background-image: url("star.jpg.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;

}

header {
    background-image:linear-gradient( #0a1931, #b3cfe5, #4a7fa7, #1a3d63);
    color: white;
    padding: 20px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
main{
    color: rgb(255, 255, 255);
    text-align: left;
    font-size: 20px;
    width: 1000px;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    border: #6ea2b3;
    border-style: solid;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: orange;
}

.container {
    padding: 20px;
}

.art-box {
    background-color: rgba(255,255,255,0.5);
    width: 800px;
    padding: 15px;
    margin: 15px 0;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
}
h2{
    font-size: 18px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #548cb859;
}

footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 10px;
}
.container{
    text-align: center;
    font-size: 16px;

}
.art {
    background-color: whiteS;
}
img{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}





